.cards__title {
  margin: 1em 0 1.4em;
  width: 90%;
  padding: 0;
  text-align: left;
  font-weight: bolder;
  font-size: 25px;
  line-height: 1.05;
  color: rgb(1, 46, 4);
  letter-spacing: .2em;
}
