.cards__title {
  display: flex;
  align-items: center;
  margin: 15px 0 20px;
  padding: 0;
  height: 100px;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  line-height: 1.05;
}


@media screen and (max-width: 1920px) {
  .cards__title {
    margin: 15px 0 20px;
    padding: 0;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    line-height: 1.05;
  }
}
