.cards__githab {
  margin: 20px 0 0;
  padding: 0;
  background-color: rgb(245, 236, 236);
  font-weight: bolder;
  font-size: 20px;
  line-height: normal;
  transition: .7s;
}


.cards__githab:hover .githab_links:hover {
  background-color: rgb(58, 52, 52);
}
